
{% extends "base-with-no-nav.html" %}

{% block content %}

  <div class="container-fluid h-100 christopher">

    <div class="d-flex h-100 flex-column justify-content-between">

      {% include '_nav.html' %}

      <div class="text-center">
        <h1 class="display-4">Do you dream to be free, independent, on your own? Don't just dream. It's enough. Do something with it.</h1>
        <a href="{% url 'blog' %}" class="display-4">Click for few tips.</a>
      </div>

      <div></div>

    </div>
  </div>

{% endblock content %}
