
{% extends "base-with-no-nav.html" %}

{% block content %}


<div class="container-fluid d-flex flex-column justify-content-between min-height-100 christopher-background">

  {% include '_nav.html' %}

  <div class="text-center">
    <h1 class="display-4">Do you dream to be free, independent, on your own? Don't just dream. It's enough. Do something with it.</h1>
    <a href="{% url 'blog' %}" class="display-4">Click for few tips.</a>
  </div>

  <p class="p-3 text-secondary">Photo by Christopher Burns on Unsplash</p>

</div>


{% endblock content %}
