{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
  <h1 class="py-3">How to sell.</h1>
  <p class="text-info"><small>I wrote this for myself. I am not going to pretend to be an expert on the subject. I am not rich, but I highly appreciate independence and financial freedom, which is why I am trying to find answers to key questions. Writing helps me to concretize my thoughts and gather observations into a logical whole - the path. I hope it can help you too.</small></p>
</div>
{% endblock %}
