{% extends "base-with-nav.html" %}
{% block content %}
<div class="container-fluid">
  <h1 class="py-3">How to make money.</h1>
  <p class="text-info"><small>I wrote this for myself. I am not going to pretend to be an expert on the subject. I am not rich, but I highly appreciate independence and financial freedom, which is why I am trying to find answers to key questions. Writing helps me to concretize my thoughts and gather observations into a logical whole - the path. I hope it can help you too.</small></p>
  <p>Want to make money? Who is the reliable to tell you how to make money? The richest people. Bill Gates, Warren Buffett, Jeff Bezos, Amancio Ortega, Mark Zuckerberg, Carlos Slim, Larry Ellison. How they make money? Let’s check their main source of money.</p>

  <p>Bill Gates - Microsoft</p>
  <p>Warren Buffet - Berkshire Hathaway</p>
  <p>Jeff Bezos - Amazon</p>
  <p>Amancio Ortega - Inditex (Zara, Massimo Dutti, Bershka, Oysho, Pull and Bear, Stradivarius)</p>
  <p>Mark Zuckerberg - Facebook</p>
  <p>Carlos Slim - America Movil</p>
  <p>Larry Ellison - Oracle</p>

  <p>So how do they make money? They sell. They sell what they've created. Should we do the same to make money? Well, they proved they know how to do it. What to sell, and how to sell it are two different questions but it’ll be easier to try to answer to these two if we agree that we need to sell.</p>
  <a href="{% url 'what_to_sell' %}"><p>Read post about what to sell.</p></a>
  <br><br>
</div>
{% endblock %}
