{% extends "base-with-nav.html" %}
{% block content %}
<div class="container-fluid">
  <h1 class="py-3">How to do business.</h1>
  <p class="text-info"><small>I wrote this for myself. I am not going to pretend to be an expert on the subject. I am not rich, but I highly appreciate independence and financial freedom, which is why I am trying to find answers to key questions. Writing helps me to concretize my thoughts and gather observations into a logical whole - the path. I hope it can help you too.</small></p>
  <p>How to do business? Don't do business. Let the thing you like to do and you do regularly evolve to form which is the best. If business is the best form of the thing you do let it be, but don't force it because you need to have business. Just do what you do, find first clients, take care about them, try to find another clients, etc. If to take care about your clients will require a form of business then you'll do it.</p>
</div>
<br><br>
{% endblock %}
