{% extends "base-with-nav.html" %}
{% block content %}
<div class="container-fluid">
  <h1 class="py-3">What to sell.</h1>
  <p class="text-info"><small>I wrote this for myself. I am not going to pretend to be an expert on the subject. I am not rich, but I highly appreciate independence and financial freedom, which is why I am trying to find answers to key questions. Writing helps me to concretize my thoughts and gather observations into a logical whole - the path. I hope it can help you too.</small></p>
  <p>People buy almost everything but that doesn’t mean you should sell anything. You should sell something unique, something you really like and use regularly and often, something you believe is worth its price. You should be your first client. How to find that kind of thing?  You should create it.</p>

  <p>You shouldn’t create what you think people will like. You should create what you would like to use, have or experience. Create something superb for yourself. Be your first client. Use it for some time. Then, if you still love it and use it regularly you know this is it.
  In other words, you will loose if you will do something just for money. There’s no chance you will be really good at something you don’t love. You won’t sell much if you won’t be really good at it. How you survive when you will have no clients for some time? If you create what you love you don’t do it because of money. No clients for some time is no problem for you. Just don’t put everything on it. Don’t put pressure on you. Start “business” as a kind of side project. Try it, and test it with no expectation. Do it for yourself. Any pressure will make you unhappy. How can you create something people would love if you feel no joy but pressure?</p>

  <p>What about “normal” job? Isn’t it like selling skills and time? Yes it is. “Normal” job is great when you like it and your boss is nice. But you should create something anyway. It can give you freedom and independence. You don’t have too much time, do you? You get your money when you’re doing your job. You don’t work - you don’t get money.  Your time is too valuable to spend it all just working. You should spend some of your time on creating something. Like you write a book once and millions of people can read it for decades. If you got “normal” job only, you have to work more if you want more money. You start to say to your kids “I don’t have time for you right now, honey. I’m sorry. I have to work. If we want to go on vacation this year I have to work”. It’s sad.</p>

  <p>My daughter asked me once:
  <p>- Why do I have to go to primary school, daddy?</p>
  <p>- Because I have to go to work.</p>
  <p>- Why do you have to work, daddy?</p>
  <p>- Because I need money.</p>
  <p>- What do you need money for?</p>
  <p>- To pay for your primary school.</p>

  <p>Don’t confuse doing with creating. Don’t just do what you think would make you happy. Doing will give you a feeling you waste your time and it won’t give you happiness, freedom and independency in long term. Watching tv show is doing. Writing a review or a script is creating. Shopping is doing. Tailoring is creating. Going to gallery is doing.  Writing an article about Van Gogh is creating. Painting is creating. Chatting is doing. Listening people and trying to help them is creating. Traveling is doing. Sharing tips of traveling and places is creating. Think what you like to create. Do you have something you do for years with passion no matter what time or day is? Eating chocolate doesn’t count. Creating desserts does. Share recipes, tips and photos. Invite people to taste. Create your own desserts. Let people know about it. Show them how to do it in theirs kitchen. That is creating.</p>
  <a href="{% url 'how_to_sell' %}"><p>Read post about how to sell.</p></a>
  <br><br>
</div>
{% endblock %}
