{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
  <h1 class="py-3">What is mvp.</h1>

  <blockquote class="blockquote">
    <p class="mb-0"><em>"The thing I probably repeat most is this recipe for a startup: get a version 1 out fast, then improve it based on users' reactions. By "release early" I don't mean you should release something full of bugs, but that you should release something minimal. Users hate bugs, but they don't seem to mind a minimal version 1, if there's more coming soon."</em></p>
    <footer class="blockquote-footer">Paul Graham in <cite title="The Hardest Lessons for Startups to Learn"></cite><em>The Hardest Lessons for Startups to Learn.  </em><a href="http://www.paulgraham.com/startuplessons.html">http://www.paulgraham.com/startuplessons.html</a></footer>
  </blockquote>


  <br>
  <p>According to Paul Graham, mvp is minimal version of product you can release fast and early.
  <a href="{% url 'offer' %}">Click here to check how I can help you build your mvp.</a></p>
</div>
{% endblock %}
